<template>
  <div class="flex flex-col items-center h-full">
    <img src="~/assets/img/pas.jpg" class="h-44 w-44 mt-14 rounded-full" />
    <div class="flex flex-col mt-7 items-center text-white">
      <span class="text-4xl font-semibold font-heading">Aditya Zaini</span>
      <span class="text-lg">Project Manager</span>
      <nav class="mt-3">
        <ul class="flex justify-center">
          <li v-for="item in social" class="mx-2">
            <a :href="item.url" target="blank">
              <font-awesome-icon :icon="item.icon" class="fa-xl text-white" />
            </a>
          </li>
        </ul>
      </nav>
      <a href="#" class="flex items-center justify-center mt-10 h-12 w-[80%] border-2 hover:bg-white hover:text-primary hover:duration-500 duration-500 border-white rounded-full">Download CV</a>
    </div>
    <div class="flex grow items-end mb-3 text-white text-xs">© All rights reserved. Made with ♡ by adityamzr</div>
    <div></div>
  </div>
</template>

<script setup lang="ts">
const social = [
  {
    name: 'LinkedIn',
    url: '',
    icon: 'fa-brands fa-linkedin-in',
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/adityamzr',
    icon: 'fa-brands fa-instagram',
  },
  {
    name: 'xTwitter',
    url: '',
    icon: 'fa-brands fa-x-twitter',
  },
]
</script>