<template>
  <nav class="bg-white w-[70px] h-32 ml-5 rounded-full flex items-center justify-center">
    <ul>
      <li class="flex justify-center mb-5">
        <font-awesome-icon icon="chevron-left" class="fa-2xl text-stroke" />
      </li>
      <li class="flex justify-center">
        <font-awesome-icon icon="chevron-right" class="fa-2xl text-stroke" />
      </li>
    </ul>
  </nav>
</template>