
import type { NuxtLink } from '#build/components';
<template>
  <div class="flex flex-col justify-between h-5/6 lg:w-[8%] xl:w-[12%]">
    <nav class="bg-white w-[70px] h-[17rem] xl:h-80 py-4 ml-5 rounded-full flex justify-center">
      <ul>
        <li v-for="item in menu" class="my-5 flex justify-center">
          <NuxtLink :to="item.path">
            <font-awesome-icon :icon="item.icon" class="fa-2xl text-stroke hover:text-primary hover:delay-100" />
          </NuxtLink>
        </li>
      </ul>
    </nav>
    <ArrowNavigation />
  </div>
</template>

<script setup>
const menu = [
  {
    name: 'Home',
    path: '/',
    icon: 'house'
  },
  {
    name: 'About',
    path: '/about',
    icon: 'user'
  },
  {
    name: 'Resume',
    path: '/',
    icon: 'graduation-cap'
  },
  {
    name: 'Work',
    path: '/work',
    icon: 'suitcase'
  },
  {
    name: 'Contact',
    path: '/contact',
    icon: 'envelope'
  },
]
</script>