<script setup lang="ts">
</script>

<template>
<div class="flex flex-row justify-center items-center h-screen w-full bg-secondary invisible lg:visible">
  <div class="h-5/6 lg:w-[0%] xl:w-[12%]"></div>

  <div class="bg-primary h-5/6 lg:w-[82%] xl:w-[76%] rounded-3xl flex">
    <div class="bg-primary w-1/3 h-full rounded-l-3xl">
      <Header />
    </div>
    <slot />
  </div>
  <MenuBar />
</div>
</template>
