<template>
  <div class="bg-white w-2/3 h-full rounded-r-3xl flex flex-col p-14">
      <div class="mb-8">
        <span class="text-4xl font-semibold">About <span class="text-primary">Me</span></span>
      </div>
      <div class="flex mb-6">
        <div class="w-1/2 pr-3">
          <span class="leading-relaxed text-zinc-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum blanditiis ipsa nobis quasi nam architecto quibusdam doloribus quis sed dolorem deserunt eum voluptas quidem fugiat beatae nisi dicta quaerat iure explicabo nihil laborum, quo inventore quos? Dolore ut possimus quaerat.</span>
        </div>
        <div class="flex flex-col w-1/2 pl-4">
          <ul>
            <li v-for="item in data" class="mb-2"><span class="text-primary font-semibold">{{ item.title }}</span> <span class="text-zinc-500">{{ item.body }}</span></li>
          </ul>
        </div>
      </div>
      <div class="mb-8">
        <span class="text-2xl font-semibold">What <span class="text-primary">I do</span></span>
      </div>
  </div>
</template>

<script setup lang="ts">
const data = [
  {
    title: 'Age',
    body: '25',
  },
  {
    title: 'Residence',
    body: 'Indonesia',
  },
  {
    title: 'Address',
    body: 'Gading Junti Asri Blok X1 No 6, Kab. Bandung',
  },
  {
    title: 'E-mail',
    body: 'adityamzainir@gmail.com',
  },
  {
    title: 'Phone',
    body: '+62-857-240-3354',
  },
]
</script>