<template>
  <div class="bg-white w-2/3 h-full rounded-r-3xl flex flex-col justify-center items-center">
    <h1 class="text-6xl font-bold text-zinc-800 mb-5">Aditya Zaini</h1>
    <span class="text-2xl text-stroke">Project Manager</span>
  </div>
</template>